@page "/"
@using KeepScrolling.UI.Pages.ServiceHandlers.Services
@inject WeatherForecastService forcastService
<PageTitle>Index</PageTitle>


<h1>Infinite scrolling!</h1>

<InfiniteScrolling ItemsProvider="GetItems">
    <ItemTemplate Context="item">
        <div>Item @item</div>
    </ItemTemplate>
    <LoadingTemplate>
        <div><span class="oi oi-reload spin"></span> Loading more items...</div>
    </LoadingTemplate>
</InfiniteScrolling>

@code {
    async Task<IEnumerable<int>> GetItems(InfiniteScrollingItemsProviderRequest request)
    {
        await Task.Delay(1000);
        var items = Enumerable.Range(request.StartIndex, 3);
        return items;
    }
}